table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  font-size: 25x;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

th {
  margin: 50px;
  border: 1px solid rgb(170, 167, 167);
  padding: 20px;
}
tr {
  margin: 50px;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  background-color: cornflowerblue;
  border: 1px solid rgb(170, 167, 167);
}

td {
  padding: 30px;
  font-size: 16px;
  margin: 50px;
  color: black;
  background-color: white;
  border: 1px solid rgb(170, 167, 167);
}
